In [88]:
import pandas as pd
import numpy as np

In [95]:
from ddf_utils.str import format_float_digits

In [2]:
synonyms = '../../../ddf--open_numbers/ddf--synonyms--geo.csv'

In [51]:
syn = pd.read_csv(synonyms, keep_default_na=False, dtype=str)

In [11]:
syn.columns

Index(['synonym', 'geo'], dtype='object')

In [52]:
syn_dict = syn.set_index('synonym')['geo'].to_dict()

In [53]:
syn_dict['China']

'chn'

In [56]:
geo = pd.read_csv('../../ddf--entities--geo.csv', dtype=str)

In [9]:
def transform(x):
    if x in syn_dict.keys():
        return syn_dict[x]
    else:
        print(f"{x} not found")
        return None

In [57]:
name_new = geo['name'].map(transform)

WORLD not found
More developed regions not found
Less developed regions not found
Least developed countries not found
Less developed regions, excluding least developed countries not found
High-income countries not found
Middle-income countries not found
Upper-middle-income countries not found
Lower-middle-income countries not found
Low-income countries not found
No income group available not found
Africa not found
Asia not found
Europe not found
Latin America and the Caribbean not found
Northern America not found
OCEANIA not found
SUB-SAHARAN AFRICA not found
Eastern Africa not found
Middle Africa not found
Southern Africa not found
Western Africa not found
NORTHERN AFRICA AND WESTERN ASIA not found
Northern Africa not found
Western Asia not found
CENTRAL AND SOUTHERN ASIA not found
Central Asia not found
Southern Asia not found
EASTERN AND SOUTH-EASTERN ASIA not found
Eastern Asia not found
South-Eastern Asia not found
LATIN AMERICA AND THE CARIBBEAN not found
Caribbean not found
Central America not found
South America not found
Australia / New Zealand not found
Melanesia not found
Polynesia not found
EUROPE AND NORTHERN AMERICA not found
EUROPE not found
Eastern Europe not found
Northern Europe not found
Southern Europe not found
Western Europe not found
NORTHERN AMERICA not found
Other South not found
Other North not found

In [58]:
geo['name_new'] = name_new

In [59]:
geo_map = geo.set_index('geo')['name_new'].dropna().to_dict()

In [23]:
!ls ../../*datapoint*

../../ddf--datapoints--emigrant_stock--by--geo--sex--year.csv
../../ddf--datapoints--emigrant_stock--by--geo--year.csv
../../ddf--datapoints--immigrant_stock--by--geo--sex--year.csv
../../ddf--datapoints--immigrant_stock--by--geo--year.csv
../../ddf--datapoints--migration_stock--by--destination--origin--sex--year.csv
../../ddf--datapoints--migration_stock--by--destination--origin--year.csv

In [24]:
import os

In [98]:
def convert(df_):
    df = df_.copy()
    for c in ['geo', 'destination', 'origin']:
        if c in df.columns:
            df[c] = df[c].map(geo_map)
    #print(df.dropna().head())
    df = df.dropna(how='any')
    for c in ['emigrant_stock', 'immigrant_stock', 'migration_stock']:
        if c in df.columns and df.dtypes[c] != np.int:
            print('converting')
            df[c] = df[c].map(lambda x: format_float_digits(x, digits=0))
    return df

In [91]:
dtype={'geo': str, 'destination': str, 'origin': str,}
       # 'emigrant_stock': np.int, 'immigrant_stock': np.int, 'migration_stock': np.int}

In [99]:
for f in os.listdir('../../'):
    if "datapoints" in f:
        print(f)
        df = pd.read_csv(f'../../{f}', dtype=dtype)
        # print(df.dtypes)
        df = convert(df)
        df.to_csv(f'../../{f}', index=False)

ddf--datapoints--immigrant_stock--by--geo--year.csv
converting
ddf--datapoints--migration_stock--by--destination--origin--year.csv
converting
ddf--datapoints--immigrant_stock--by--geo--sex--year.csv
converting
ddf--datapoints--migration_stock--by--destination--origin--sex--year.csv
converting
ddf--datapoints--emigrant_stock--by--geo--sex--year.csv
ddf--datapoints--emigrant_stock--by--geo--year.csv

In [64]:
!cp ../../../ddf--open_numbers/ddf--entities--geo* ../../

In [ ]:
# concepts

In [37]:
cdf0 = pd.read_csv('../../ddf--concepts.csv')

In [38]:
cdf0 = cdf0[cdf0.concept_type == 'measure']

In [39]:
cdf0

           concept concept_type             name domain
2  migration_stock      measure  Migration Stock    NaN
3   emigrant_stock      measure   Emigrant Stock    NaN
4  immigrant_stock      measure  Immigrant Stock    NaN

In [40]:
cdf0.to_csv('../../ddf--concepts--continuous.csv', index=False)

In [70]:
cdf1 = pd.read_csv('../../../ddf--open_numbers/ddf--concepts.csv')

In [71]:
cdf1 = cdf1.append(
    pd.DataFrame.from_records([{
        'concept': 'sex',
        'name': 'Sex',
        'concept_type': 'entity_domain'
    },
    {
        'concept': 'year',
        'name': 'Year',
        'concept_type': 'time'
    },
    {
        'concept': 'origin',
        'concept_type': 'role',
        'name': 'Origin',
        'domain': 'geo'
    },
    {
        'concept': 'destination',
        'concept_type': 'role',
        'name': 'Destination',
        'domain': 'geo'
    }]),
    sort=False
)

In [72]:
cdf1.to_csv('../../ddf--concepts--discrete.csv', index=False)

In [84]:
d = pd.read_csv('../../ddf--datapoints--immigrant_stock--by--geo--year.csv')

In [87]:
d['immigrant_stock'].map(int)

0       153011473
1        82767216
2        70244257
3        11060221
4        59184036
5        77802868
6        65124366
7        33285549
8        31838817
9         9790238
10       15689666
11       48209949
12       49608231
13        7161371
14       27610408
15        4731848
16       13286341
17        5959183
18         333110
19          14079
20         122221
21          11848
22        1155390
23         298089
24          23917
25        1127724
26           3613
27          15229
28         122332
29          57210
          ...
1894        35735
1895       518083
1896        11172
1897      1211382
1898          799
1899      6273722
1900        84949
1901        70967
1902       131175
1903       888162
1904         5507
1905       820312
1906       253122
1907      6104203
1908     30427318
1909      1779857
1910      1981919
1911      8334875
1912     13132146
1913        25467
1914       291723
1915        26511
1916      2282791
1917      2572029
1918     58647822
1919        19336
1920      7960657
1921         5690
1922          990
1923     50661149
Name: immigrant_stock, Length: 1924, dtype: int64